<div class="card card-w-title">
    <div>
        <i class="pi pi-briefcase"></i> <span style="font-size: 15px;"><b> PERSONAS </b></span>
    </div>
</div>

<div class="card card-w-title">
    <div class="ui-fluid card card-w-title">
        <div class="p-col-12 p-md-12">
            <div class="p-grid">
                <div class="p-col-6"></div>
                <div class="p-col-4">
                    <button pButton type="button" routerLink="/persona/persona-form/" label="Nueva Persona"
                        icon="pi pi-plus"></button>
                </div>
            </div>
        </div>

        <p-table #dt [columns]="columns" [value]="personas" [responsive]="true" [paginator]="true" [rows]="30"
            [scrollable]="true" [style]="{width:'100%'}" [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} a {last} de {totalRecords} registros" [globalFilterFields]="['apellidos','nombres','email','numeroCelular','telefono','extensionTelefono','direccion',
            'descripcionEstado']">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix" style="text-align: left">
                    <div style="float:right">
                        <button pButton type="button" style="margin-right: 5px;" icon="pi pi-filter"
                            class="ui-button-secondary" pTooltip="Mostrar filtros" (click)="showFilter()"></button>
                        <input type="text" pInputText placeholder="Filtrar"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width: 3em;">
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em;"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width"
                        style="font-size: 12px; text-align: center;">
                        {{col.header}}
                        <p-sortIcon [field]="col.field">
                        </p-sortIcon>
                    </th>
                </tr>
                <tr *ngIf="showSearch">
                    <th></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" style="padding: .5em; font-size: x-small;">
                        <input *ngSwitchCase="'apellidos'" pInputText type="text"
                            style="width: 100%; margin-top: 0;text-align: center;"
                            (input)="dt.filter($event.target.value, 'apellidos', 'contains')">
                        <input *ngSwitchCase="'nombres'" pInputText type="text"
                            style="width: 100%; margin-top: 0;text-align: center;"
                            (input)="dt.filter($event.target.value, 'nombres', 'contains')">
                        <input *ngSwitchCase="'email'" pInputText type="text"
                            style="width: 100%; margin-top: 0;text-align: center;"
                            (input)="dt.filter($event.target.value, 'email', 'contains')">
                        <input *ngSwitchCase="'numeroCelular'" pInputText type="text"
                            style="width: 100%; margin-top: 0;text-align: center;"
                            (input)="dt.filter($event.target.value, 'numeroCelular', 'contains')">
                        <input *ngSwitchCase="'telefono'" pInputText type="text"
                            style="width: 100%; margin-top: 0;text-align: center;"
                            (input)="dt.filter($event.target.value, 'telefono', 'contains')">
                        <input *ngSwitchCase="'extensionTelefono'" pInputText type="text"
                            style="width: 100%; margin-top: 0;text-align: center;"
                            (input)="dt.filter($event.target.value, 'extensionTelefono', 'contains')">
                        <input *ngSwitchCase="'direccion'" pInputText type="text"
                            style="width: 100%; margin-top: 0;text-align: center;"
                            (input)="dt.filter($event.target.value, 'direccion', 'contains')">
                        <input *ngSwitchCase="'descripcionEstado'" pInputText type="text"
                            style="width: 100%; margin-top: 0;text-align: center;"
                            (input)="dt.filter($event.target.value, 'descripcionEstado', 'contains')">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" style="font-size: 10px;">
                    <td style="text-align: left;">
                        <button pButton type="button" pTooltip="Ver Persona" icon="pi pi-pencil"
                            routerLink="/persona/persona-form/{{rowData.codigoPersona}}"
                            style="margin-right: 0.3em; margin-bottom: 0.3em; font-size: xx-small;"></button>
                        <button [disabled]="rowData.estado !== 'AC'" pButton type="button"
                            (click)="confirmDeshabilitar(rowData)" pTooltip="Deshabilitar Persona" icon="pi pw pi-ban"
                            class="ui-button-danger"
                            style="margin-right: 0.3em;  margin-bottom: 0.3em; font-size: xx-small;"></button>
                    </td>
                    <td style="text-align: center;">{{rowData.apellidos}}</td>
                    <td style="text-align: center;">{{rowData.nombres}}</td>
                    <td style="text-align: center;">{{rowData.email}}</td>
                    <td style="text-align: center;">{{rowData.numeroCelular}}</td>
                    <td style="text-align: center;">{{rowData.telefono}}</td>
                    <td style="text-align: center;">{{rowData.extensionTelefono}}</td>
                    <td style="text-align: center;">{{rowData.direccion}}</td>
                    <td style="text-align: center;">{{rowData.descripcionEstado}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align: center;"><b>¡No se han encontrado registros!</b></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>